In [1]:
# 함수의 데코레이터 사용
def test(function):
    def wrapper():
        print("인사가 시작되었습니다.")
        function()
        print("인사가 종료되었습니다")
    return wrapper

# @데코레이션을 붙어 함수 생성
@test
def hello():
    print("hello!!")
@test
def hello2():
    print("HELLO!!")
    
# 함수호출

hello2()

인사가 시작되었습니다.
HELLO!!
인사가 종료되었습니다

In [2]:
# 학생 리스트를 선언합니다.
students = [
    { "name": "윤인성", "korean": 87, "math": 98, "english": 88, "science": 95 },
    { "name": "연하진", "korean": 92, "math": 98, "english": 96, "science": 98 },
    { "name": "구지연", "korean": 76, "math": 96, "english": 94, "science": 90 },
    { "name": "나선주", "korean": 98, "math": 92, "english": 96, "science": 92 },
    { "name": "윤아린", "korean": 95, "math": 98, "english": 98, "science": 98 },
    { "name": "윤명월", "korean": 64, "math": 88, "english": 92, "science": 92 }
]

# 학생을 한 명씩 반복합니다.
print("이름", "총점", "평균", sep="\t")
for student in students:
    # 점수의 총합과 평균을 구합니다.
    score_sum = student["korean"] + student["math"] +\
        student["english"] + student["science"]
    score_average = score_sum / 4
    # 출력합니다.
    print(student["name"], score_sum, score_average, sep="\t")

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

In [11]:
# 객체를 생성하는 함수를 작성
def create_student(name, korean, math, english, science):
    return{
            "name":name, "korean":korean, "math":math, "english":english,
            "science":science
          }

# 학생을 처리하는 함수 선언
def student_get_sum(student):
    return student['korean']+student['math']+student['english']+student['science']

def student_get_avg(student):
    return student_get_sum(student) / 4

def student_to_string(student):
    return ("{}\t{}\t{}".format(student["name"],\
                              student_get_sum(student), student_get_avg(student)))

In [13]:
students = [
    create_student("윤인성", 87, 98, 88, 95),
    create_student("연하진", 92, 98, 96, 98),
    create_student("구지연", 76, 96, 94, 90),
    create_student("나선주", 98, 92, 96, 92),
    create_student("윤아린", 95, 98, 98, 98),
    create_student("윤명월", 64, 88, 92, 92),
]

# 학생을 한 명씩 자료 출력
print("이름", "총점", "평균", sep="\t")
for student in students:
    print(student_to_string(student))

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

In [131]:
# 클래스 생성 class 클래스명:
class Student:
    def __init__(self, name):
        self.name = name
    def print_name(self):
        return print(self.name)
        
# Student 클래스의 오브젝트 생성
a = Student("홍길동")
a.print_name()
a.print_name()
a.print_name()

홍길동
홍길동
홍길동

In [2]:
x = 0
class Test:
    def __init__(self):
        print("생성자")
    def __del__(self):
        global x
        x += 1
        print(x)
        print("소멸자")

t = Test()

생성자
1
소멸자